<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="<%= data.baseUrl %>images/cabin.png">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="<%= data.baseUrl %>styles/main.css" rel="stylesheet">

    <script src="<%= data.baseUrl %>scripts/bosonic-polyfills.js"></script>
    <script src="<%= data.baseUrl %>scripts/bosonic.js"></script>
    <script src="<%= data.baseUrl %>scripts/bosonic-components.js"></script>
    <link href="<%= data.baseUrl %>styles/bosonic-components.css" rel="stylesheet">

    <title>Bosonic Web Component</title>
    <meta name="description" content="<%= locals.description %>">
  </head>
  <body>
    
    <% include ../layouts/_nav %>

    <div id="content">

        <h1>Demos</h1>

        <h2>Modal</h2>

        <button id="show-modal">Show modal</button>
        <p>(Close with ESC)</p>

        <style>
            b-dialog {
                padding: 0 20px;
            }
        </style>

        <b-dialog>
            <h3>Test</h3>
            <p>Hello world</p>
        </b-dialog>

        <script type="text/javascript">
            window.addEventListener('WebComponentsReady', function() {
                var showModalButton = document.getElementById('show-modal');
                showModalButton.addEventListener('click', function() {
                    document.querySelector('b-dialog').showModal();
                }, false);
            });
        </script>

        <h2>Selectable</h2>
        <p>Generic element for selectability in a list. Click on the list below and use arrow keys to change selection.</p>

        <style>
            .b-selectable-selected {
                border: 1px solid black;
            }
        </style>

        <b-selectable target="li">
            <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
                <li>item 5</li>
                <li>item 6</li>
                <li>item 7</li>
            </ul>
        </b-selectable>

        <h2>Datepicker</h2>

        <b-datepicker locale="en"></b-datepicker>

        <h1>More coming very soon!</h1>

<% posts.forEach(function(post){ %>
  <% if(post.type === 'static' && post.title === 'Components') { %>
    <%- post.content %>
  <% } %>
<% }) %>

<% include ../layouts/_footer %>