<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="<%= data.baseUrl %>images/cabin.png">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="<%= data.baseUrl %>styles/main.css" rel="stylesheet">

    <script src="<%= data.baseUrl %>scripts/bosonic-polyfills.js"></script>
    <script src="<%= data.baseUrl %>scripts/bosonic-components.js"></script>
    <link href="<%= data.baseUrl %>styles/bosonic-components.css" rel="stylesheet">

    <title>Bosonic Web Component</title>
    <meta name="description" content="<%= locals.description %>">
  </head>
  <body>

    <% include ../layouts/_nav %>

    <div id="content">

        <h1>Demos</h1>

        <h2>Modal</h2>

        <button id="show-modal">Show modal</button>
        <p>(Close with ESC)</p>

        <style>
            b-dialog {
                padding: 0 20px;
            }
        </style>

        <b-dialog>
            <h3>Test</h3>
            <p>Hello world</p>
        </b-dialog>

        <script type="text/javascript">
            window.addEventListener('WebComponentsReady', function() {
                var showModalButton = document.getElementById('show-modal');
                showModalButton.addEventListener('click', function() {
                    document.querySelector('b-dialog').showModal();
                }, false);
            });
        </script>

        <h2>Datepicker</h2>

        <b-datepicker locale="en"></b-datepicker>

        <h2>Sortable</h2>
        <style>
            b-sortable ul {
                list-style-type: none;
                width: 150px;
            }
            b-sortable li {
                border: 1px solid #ccc;
                background-color: #ddd;
                margin: 5px;
            }
            b-sortable li.sortable-ghost {
               opacity: .25;
                -webkit-transition: -webkit-transform 0.2s ease-out;
                -moz-transition: -moz-transform 0.2s ease-out;
               -webkit-transform: scale(0.8);
               -moz-transform: scale(0.8);
            }
            b-sortable li.sortable-over {
               opacity: .25;
            }
        </style>
        <b-sortable>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
                <li>Item 5</li>
                <li>Item 6</li>
            </ul>
        </b-sortable>

        <h2>Selectable</h2>
        <p>Generic element for selectability in a list. Click on the list below and use arrow keys to change selection.</p>
        <style>
            .b-selectable-selected {
                border: 1px solid black;
            }
        </style>
        <b-selectable target="li">
            <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
                <li>item 5</li>
                <li>item 6</li>
                <li>item 7</li>
            </ul>
        </b-selectable>
        
        <h2>Accordion</h2>
        <b-accordion selected="0">
            <b-collapsible>
                <div class="b-collapsible-header">
                    Header
                </div>
                <div class="body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis sodales arcu, ac fermentum metus hendrerit non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor felis eget auctor aliquam. Sed sit amet est lectus. Duis posuere diam ac tellus facilisis interdum. Integer mattis euismod justo, ac facilisis elit bibendum vitae. Nulla fermentum aliquet elit, id auctor est viverra a. Duis semper nisl nulla. In venenatis dolor ut scelerisque dapibus. Quisque in pellentesque nibh. Proin consectetur in ligula nec auctor. Donec tincidunt est eget metus adipiscing viverra. Nulla ultricies et orci pharetra condimentum.
                </div>
            </b-collapsible>
            <b-collapsible>
                <div class="b-collapsible-header">
                    Header
                </div>
                <div class="body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis sodales arcu, ac fermentum metus hendrerit non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor felis eget auctor aliquam. Sed sit amet est lectus. Duis posuere diam ac tellus facilisis interdum. Integer mattis euismod justo, ac facilisis elit bibendum vitae. Nulla fermentum aliquet elit, id auctor est viverra a. Duis semper nisl nulla. In venenatis dolor ut scelerisque dapibus. Quisque in pellentesque nibh. Proin consectetur in ligula nec auctor. Donec tincidunt est eget metus adipiscing viverra. Nulla ultricies et orci pharetra condimentum.
                </div>
            </b-collapsible>
            <b-collapsible>
                <div class="b-collapsible-header">
                    Header
                </div>
                <div class="body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis sodales arcu, ac fermentum metus hendrerit non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor felis eget auctor aliquam. Sed sit amet est lectus. Duis posuere diam ac tellus facilisis interdum. Integer mattis euismod justo, ac facilisis elit bibendum vitae. Nulla fermentum aliquet elit, id auctor est viverra a. Duis semper nisl nulla. In venenatis dolor ut scelerisque dapibus. Quisque in pellentesque nibh. Proin consectetur in ligula nec auctor. Donec tincidunt est eget metus adipiscing viverra. Nulla ultricies et orci pharetra condimentum.
                </div>
            </b-collapsible>
        </b-accordion>

        <h2>Collapsible</h2>
        <style>
            b-collapsible {
                border: 1px solid #ccc;
            }
            b-collapsible div {
                padding: 2px 5px;
            }
            b-collapsible .b-collapsible-header {
                border-bottom: 1px solid #ccc;
            }
            b-accordion .b-selectable-selected {
                border: 1px solid #ccc;
            }
            b-accordion:focus {
                outline: none;
            }
        </style>
        <b-collapsible active>
            <div class="b-collapsible-header">
                Header
            </div>
            <div class="body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis sodales arcu, ac fermentum metus hendrerit non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor felis eget auctor aliquam. Sed sit amet est lectus. Duis posuere diam ac tellus facilisis interdum. Integer mattis euismod justo, ac facilisis elit bibendum vitae. Nulla fermentum aliquet elit, id auctor est viverra a. Duis semper nisl nulla. In venenatis dolor ut scelerisque dapibus. Quisque in pellentesque nibh. Proin consectetur in ligula nec auctor. Donec tincidunt est eget metus adipiscing viverra. Nulla ultricies et orci pharetra condimentum.
            </div>
        </b-collapsible>


        <h1>More coming very soon!</h1>

<% include ../layouts/_footer %>