<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="<%= data.baseUrl %>images/cabin.png">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="<%= data.baseUrl %>styles/main.css" rel="stylesheet">

    <script src="<%= data.baseUrl %>scripts/bosonic-polyfills.js"></script>
    <script src="<%= data.baseUrl %>scripts/bosonic-components.js"></script>
    <link href="<%= data.baseUrl %>styles/bosonic-components.css" rel="stylesheet">

    <title>Bosonic Web Component</title>
    <meta name="description" content="<%= locals.description %>">
  </head>
  <body>

    <% include ../layouts/_nav %>

    <div id="content">
        <div class="block">
        <h1>Demos</h1>

        <h2>Flash message</h2>
        <p>Display an info message that automatically disappears after 2 secs: <a href="#" id="show-message">Show message</a></p>
        <b-flash-message id="myMessage" type="info" closeable="true" duration="2000">
            <strong>Hello, World!</strong> Foo Bar
        </b-flash-message>

        <script type="text/javascript">
            window.addEventListener('WebComponentsReady', function() {
                var showInfoFlashMessageButton = document.getElementById('show-message');
                showInfoFlashMessageButton.addEventListener('click', function(e) {
                    e.preventDefault();
                    document.querySelector('#myMessage').show();
                }, false);
            });
    </script>

        <h2>Modal</h2>

        <button id="show-modal">Show modal</button>
        <p>(Close with ESC)</p>

        <style>
            b-dialog {
                padding: 0 20px;
            }
        </style>

        <b-dialog>
            <h3>Test</h3>
            <p>Hello world</p>
        </b-dialog>

        <script type="text/javascript">
            window.addEventListener('WebComponentsReady', function() {
                var showModalButton = document.getElementById('show-modal');
                showModalButton.addEventListener('click', function() {
                    document.querySelector('b-dialog').showModal();
                }, false);
            });
        </script>

        <h2>Autocomplete</h2>
        <b-datalist id="data">
            <option value="Alabama"></option>
            <option value="Alaska"></option>
            <option value="Arizona"></option>
            <option value="Arkansas"></option>
            <option value="California"></option>
            <option value="Colorado"></option>
            <option value="Connecticut"></option>
            <option value="Delaware"></option>
            <option value="Florida"></option>
            <option value="Georgia"></option>
            <option value="Hawaii"></option>
            <option value="Idaho"></option>
            <option value="Illinois"></option>
            <option value="Indiana"></option>
            <option value="Iowa"></option>
            <option value="Kansas"></option>
            <option value="Kentucky"></option>
            <option value="Louisiana"></option>
            <option value="Maine"></option>
            <option value="Maryland"></option>
            <option value="Massachusetts"></option>
            <option value="Michigan"></option>
            <option value="Minnesota"></option>
            <option value="</option>Mississippi"></option>
            <option value="Missouri"></option>
            <option value="Montana"></option>
            <option value="Nebraska"></option>
            <option value="Nevada"></option>
            <option value="New Hampshire"></option>
            <option value="New Jersey"></option>
            <option value="New Mexico"></option>
            <option value="New York"></option>
            <option value="North Carolina"></option>
            <option value="North Dakota"></option>
            <option value="Ohio"></option>
            <option value="Oklahoma"></option>
            <option value="Oregon"></option>
            <option value="Pennsylvania"></option>
            <option value="Rhode Island"></option>
            <option value="South Carolina"></option>
            <option value="South Dakota"></option>
            <option value="Tennessee"></option>
            <option value="Texas"></option>
            <option value="Utah"></option>
            <option value="Vermont"></option>
            <option value="</option>Virginia"></option>
            <option value="Washington"></option>
            <option value="West Virginia"></option>
            <option value="Wisconsin"></option>
            <option value="Wyoming"></option>
        </b-datalist>
        <b-autocomplete list="data"></b-autocomplete>

        <h2>Combo box</h2>
        <b-combo-box list="data"></b-combo-box>

        <h2>Datepicker</h2>

        <b-datepicker locale="en"></b-datepicker>

        <h2>Dropdown</h2>
        <a name="dropdown" class="anchor"></a>
        <style>
            .dropdown-toggle {
                margin: 0;
                padding-right: 5px;
            }
            .dropdown-toggle:after {
                padding-left: 10px;
                content:'\25BE';
            }
        </style>
        <button class="dropdown-toggle" data-b-dropdown-toggle="foo">Dropdown</button>
        <b-dropdown id="foo">
            <ul>
                <li>plain text</li>
                <li><a href="#">link item</a></li>
                <hr />
                <li><a href="#">separated link</a></li>
            </ul>
        </b-dropdown>

        <h2>Toggle buttons</h2>
        <style>
            .win8 {
                border: 2px solid #999999;
                border-radius: 0;
                box-shadow: inset 0px 0px 1px 0 rgba(0, 0, 0, 0.1);
                padding: 0 10px;
            }
            .win8.on {
                border: 2px solid #999999;
            }
            .win8 .b-toggle-on {
                background-color: #2E8DEF;
            }
            .win8 .b-toggle-off {
                background-color: #CCCCCC;
            }
            .win8 .b-toggle-thumb {
                width: 24px;
                border-radius: 0;
                background-color: black;
            }

            .ios5 {
                border: 2px solid #666666;
                border-radius: 30px;
                box-shadow: inset 0px 0px 1px 0 rgba(0, 0, 0, 0.1);
                padding: 0 10px;
            }
            .ios5.on {
                border: 2px solid #666666;
            }
            .ios5 .b-toggle-on {
                background-color: #6BB2ED;
            }
            .ios5 .b-toggle-off {
                background-color: white;
            }
            .ios5 .b-toggle-thumb {
                width: 24px;
                border-radius: 30px;
                border: 2px solid #666666;
                margin: -2px;
                background-color: white;
            }

            .kitkat {
                border-radius: 0;
                border: 0;
            }
            .kitkat.on {
                border: 0;
            }
            .kitkat .b-toggle-on {
                background-color: #27A1CA;
            }
            .kitkat .b-toggle-off {
                background-color: #A1A1A1;
                color: #333333;
            }
            .kitkat .b-toggle-thumb {
                width: 30px;
                left: calc(50% - 15px);
                background-color: #333333;
                border-radius: 0;
            }
        </style>

        <ul>
            <li>
                <p>Default</p>
                <b-toggle-button id="toggle"></b-toggle-button>
            </li>
            <li>
                <p>Windows 8</p>
                <b-toggle-button class="win8"></b-toggle-button>
            </li>
            <li>
                <p>iOS 5</p>
                <b-toggle-button class="ios5"></b-toggle-button>
            </li>
            <li>
                <p>Android KitKat</p>
                <b-toggle-button class="kitkat"></b-toggle-button>
            </li>
        </ul>

        <h2>Tabs</h2>
        <style>
            .b-tabs-navigation {
                margin: 0;
                margin-bottom: 2px;
            }
            .b-tabs-navigation li {
                background: #fff;
                border: 1px solid #ccc;
                border-bottom: 1px solid #fff;
                padding: 5px;
            }
            .b-tabs-navigation li.b-tabs-hidden {
                background: #ddd;
                border-bottom: 1px solid #ccc;
            }
            .b-tabs-container {
                border: 1px solid #ccc;
                width: 50%;
                padding: 10px;
            }
        </style>
        <b-tabs>
            <ul>
                <li>Tab 1</li>
                <li>Tab 2</li>
                <li>Tab 3</li>
            </ul>
            
            <div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nobis, beatae facere voluptates esse cupiditate sit laboriosam veniam quis facilis laborum distinctio nam ex incidunt architecto molestias eligendi optio? Sunt?
                </div>

                <div>
                    Iste, reiciendis expedita officiis sequi suscipit neque ipsa! Architecto, repellendus, quam totam aliquid voluptates consequatur alias aspernatur temporibus amet dicta a modi optio nesciunt. Dicta, voluptatum in veniam consectetur vero.
                </div>

                <div>
                    Nisi, ipsum fuga nostrum alias quidem deleniti dignissimos provident veniam culpa optio! Soluta, consequatur, minus corporis dolor repellat non at aperiam error nesciunt reiciendis! Omnis vitae itaque quas nostrum molestiae.
                </div>
            </div>
        </b-tabs>

        <h2>Sortable</h2>
        <style>
            b-sortable ul {
                list-style-type: none;
                width: 150px;
            }
            b-sortable li {
                border: 1px solid #ccc;
                background-color: #ddd;
                margin: 5px;
            }
            b-sortable li.sortable-ghost {
               opacity: .25;
                -webkit-transition: -webkit-transform 0.2s ease-out;
                -moz-transition: -moz-transform 0.2s ease-out;
               -webkit-transform: scale(0.8);
               -moz-transform: scale(0.8);
            }
            b-sortable li.sortable-over {
               opacity: .25;
            }
        </style>
        <b-sortable>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
                <li>Item 5</li>
                <li>Item 6</li>
            </ul>
        </b-sortable>

        <h2>Selectable</h2>
        <p>Generic element for selectability in a list. Click on the list below and use arrow keys to change selection.</p>
        <style>
            .b-selectable-selected {
                border: 1px solid black;
            }
        </style>
        <b-selectable target="li">
            <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
                <li>item 5</li>
                <li>item 6</li>
                <li>item 7</li>
            </ul>
        </b-selectable>

        <h2>Tooltip</h2>
        <label for="my-input">Label</label>
        <input id="my-input" type="text" value="" placeholder="Value...">
        <b-tooltip target="#my-input" position="bottom center">
            <p>This is an exciting input field!</p>
        </b-tooltip>
        <style>
            .tooltip-element.tooltip-theme-arrows .tooltip-content {
                background: white;
                color: black;
                border: 1px solid black;
            }
        </style>

        <h2>Draggable</h2>
        <style>
            .draggable {
                height: 100px;
                width: 150px;
                border: 1px solid black;
                background: lightblue;
            }
            .draggable-container {
                position: relative;
                height: 300px;
                width: 250px;
                background: #ccc;
            }
            .draggable-container .draggable {
                position: absolute;
                top: 10px;
                left: 20px;
            }
            .draggable-handle {
                background: gray;
                cursor: move;
            }
        </style>
        <div class="draggable-container">
            <b-draggable handle=".draggable-handle" target=".draggable" containment="parent">
                <div class="draggable">
                    <div class="draggable-handle">Handle</div>
                    Lorem ipsum...
                </div>
            </b-draggable>
        </div>

        <h2>Resizer</h2>
        <div>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <b-resizer direction="right">
        </div>
        
        <h2>Accordion</h2>
        <b-accordion selected="0">
            <b-collapsible>
                <div class="b-collapsible-header">
                    Header
                </div>
                <div class="body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis sodales arcu, ac fermentum metus hendrerit non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor felis eget auctor aliquam. Sed sit amet est lectus. Duis posuere diam ac tellus facilisis interdum. Integer mattis euismod justo, ac facilisis elit bibendum vitae. Nulla fermentum aliquet elit, id auctor est viverra a. Duis semper nisl nulla. In venenatis dolor ut scelerisque dapibus. Quisque in pellentesque nibh. Proin consectetur in ligula nec auctor. Donec tincidunt est eget metus adipiscing viverra. Nulla ultricies et orci pharetra condimentum.
                </div>
            </b-collapsible>
            <b-collapsible>
                <div class="b-collapsible-header">
                    Header
                </div>
                <div class="body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis sodales arcu, ac fermentum metus hendrerit non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor felis eget auctor aliquam. Sed sit amet est lectus. Duis posuere diam ac tellus facilisis interdum. Integer mattis euismod justo, ac facilisis elit bibendum vitae. Nulla fermentum aliquet elit, id auctor est viverra a. Duis semper nisl nulla. In venenatis dolor ut scelerisque dapibus. Quisque in pellentesque nibh. Proin consectetur in ligula nec auctor. Donec tincidunt est eget metus adipiscing viverra. Nulla ultricies et orci pharetra condimentum.
                </div>
            </b-collapsible>
            <b-collapsible>
                <div class="b-collapsible-header">
                    Header
                </div>
                <div class="body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis sodales arcu, ac fermentum metus hendrerit non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor felis eget auctor aliquam. Sed sit amet est lectus. Duis posuere diam ac tellus facilisis interdum. Integer mattis euismod justo, ac facilisis elit bibendum vitae. Nulla fermentum aliquet elit, id auctor est viverra a. Duis semper nisl nulla. In venenatis dolor ut scelerisque dapibus. Quisque in pellentesque nibh. Proin consectetur in ligula nec auctor. Donec tincidunt est eget metus adipiscing viverra. Nulla ultricies et orci pharetra condimentum.
                </div>
            </b-collapsible>
        </b-accordion>

        <h2>Collapsible</h2>
        <style>
            b-collapsible {
                border: 1px solid #ccc;
            }
            b-collapsible div {
                padding: 2px 5px;
            }
            b-collapsible .b-collapsible-header {
                border-bottom: 1px solid #ccc;
            }
            b-accordion .b-selectable-selected {
                border: 1px solid #ccc;
            }
            b-accordion:focus {
                outline: none;
            }
        </style>
        <b-collapsible active>
            <div class="b-collapsible-header">
                Header
            </div>
            <div class="body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis sodales arcu, ac fermentum metus hendrerit non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor felis eget auctor aliquam. Sed sit amet est lectus. Duis posuere diam ac tellus facilisis interdum. Integer mattis euismod justo, ac facilisis elit bibendum vitae. Nulla fermentum aliquet elit, id auctor est viverra a. Duis semper nisl nulla. In venenatis dolor ut scelerisque dapibus. Quisque in pellentesque nibh. Proin consectetur in ligula nec auctor. Donec tincidunt est eget metus adipiscing viverra. Nulla ultricies et orci pharetra condimentum.
            </div>
        </b-collapsible>

        </div>
<% include ../layouts/_footer %>