<% include ../layouts/_header %>

<% 
function alphaCompare(a, b) {
    if (a.name > b.name) return 1;
    if (a.name < b.name) return -1;
    return 0;
}
%>

<h1>Elements</h1>

<ul>
    <% 
    posts.filter(function(post) { return post.type === 'static' && post.section === 'components'; })
         .sort(alphaCompare)
         .forEach(function(post){ %>

        <li><a href="#<%- post.title %>"><%- post.title %></a></li>

    <% }) %>
</ul>

<% 
posts.filter(function(post) { return post.type === 'static' && post.section === 'components'; })
     .sort(alphaCompare)
     .forEach(function(post){ %>

    <a name="<%- post.title %>" class="anchor" href="#<%- post.title %>"></a>
    <%- post.content %>

<% }) %>

<% include ../layouts/_footer %>